<div class="image-container">
    <img class="custom-pic-names" src="PictureUploadSystem-App/dist/picture-upload-system-app/browser/assets/names.png" alt="Resim Yükleme Başarısız!!">
    <img class="custom-pic-couple" src="PictureUploadSystem-App/dist/picture-upload-system-app/browser/assets/SAPİC.jpg" alt="Resim Yükleme Başarısız!!">
</div>


<div class=".div-container">

    <h4 class="custom-informative-text" >"*Fotoğraf veya video yüklemek için lütfen<br> 'Dosyaları Seç' butonu ile dosyaları seçtikten<br> sonra
        'Yükle' butonu ile dosyaları yükleyiniz."
        </h4>

<app-file-upload></app-file-upload>

</div>





