.background-settings{
    background-color: #bdb5ae;
    background-image: url('/PictureUploadSystem-App/dist/picture-upload-system-app/browser/assets/weather.png');
    background-position: center top 10px;
    background-repeat: no-repeat;
}
@media (max-width: 480px) {
    
    .background-settings{
        background-color: #bdb5ae;
        background-image: url('/PictureUploadSystem-App/dist/picture-upload-system-app/browser/assets/weather.png');
        background-size: cover;
        background-position: center top 10px;
        background-repeat: no-repeat;
    }
}
